name: Run CI checks

on:
  push:
    branches:
      - master
    paths:
      # if the version hasn't changed, don't bother
      - package.json

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-24.04
    timeout-minutes: 4

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: npm
          registry-url: 'https://registry.npmjs.org'
          scope: '@supabase'

      # Ensure npm 11.5.1 or later is installed for trusted publishing support
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm publish --access public
